@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

{
	font-family: 'Roboto', san-serif;
	font-weight:bold;
	font-size: 33px;
	color: white;
	word-spacing: 5px;
	letter-spacing: 8px;
	position: absolute;
	opacity: 0%; 

	animation:  bigslidein;
	animation-delay: 2s;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(1,0,.92,1);
}

.circle{
	width: 80px;
	height: 80px;
	border-radius: 100%;
	background-color: red;
	position: absolute;
	left:44%;
	top:43%;

}

.circleline1{
	width: 160px;
	height: 160px;
	border-radius: 100%;
	border-color: black;
	border: 3px solid;
	position: absolute;
	left:37.5%;
	top: 37%;

}

.circleline2{
	width: 220px;
	height: 220px;
	border-radius: 100%;
	border-color: black;
	border: 3px solid;
	position: absolute;
	left:33%;
	top:32%;

}

.circleline3{
	width: 280px;
	height: 280px;
	border-radius: 100%;
	border-color: black;
	border: 3px solid;
	position: absolute;
	left:28%;
	top:27%;

}

.circleline4{
	width: 340px;
	height: 340px;
	border-radius: 100%;
	border-color: black;
	border: 3px solid;
	position: absolute;
	left:23%;
	top:22%;

}

.circleline5{
	width: 440px;
	height: 440px;
	border-radius: 100%;
	border-color: black;
	border: 3px solid;
	position: absolute;
	left:14.5%;
	top:14%;

}

.circleline6{
	width: 500px;
	height: 500px;
	border-radius: 100%;
	border-color: black;
	border: 3px solid;
	position: absolute;
	left:9.5%;
	top:9%;

}

.circleline7{
	width: 560px;
	height: 560px;
	border-radius: 100%;
	border-color: black;
	border: 3px solid;
	position: absolute;
	left:4.5%;
	top: 4.5%;

}

.circleline8{
	width: 620px;
	height: 620px;
	border-radius: 100%;
	border-color: black;
	border: 3px solid;
	position: absolute;
	left:28%;
	top: 7%;

}


.text{
	font-family: 'Roboto', san-serif;
	font-size: 21px;
	color: black;
	word-spacing: 0px;
	letter-spacing: 0px;
	position: absolute;

	writing-mode: vertical-rl;
	transform: rotate(180deg);
}

.text{

}

.st0{
	stroke-dasharray: 1 2000;
	*/후에 500까지 감소
}

.st1{
	stroke-dasharray: 1 2000;

}

.st2{
	stroke-dasharray: 1 2000;

}

.st3{
	stroke-dasharray: 1 2000;

}
.st4{
	stroke-dasharray: 1 2000;

}
.st5{
	stroke-dasharray: 1 2000;

}
.st6{
	stroke-dasharray: 1 2000;

}
.st7{
	stroke-dasharray: 1 2000;

}
.st8{
	stroke-dasharray: 1 2000;

}

.st9{
	stroke-dasharray: 1 2500;

}

.st10{
	stroke-dasharray: 1 2500;

}

.st11{
	stroke-dasharray: 1 2500;
	transform: rotate(180deg);

}